{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nom-Eng word alignment annotaion tool</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/tailwind.css">
    <link
        rel="stylesheet"
        href="https://cdn.xeiaso.net/static/pkg/iosevka/family.css"
    />
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>

</head>
<body>
    {{ template "lang" .Nom }}
    {{ template "lang" .Eng }}
</body>

</html>
{{ end }}

{{ block "lang" . }}
    <div class="flex flex-row justify-around gap-1.5 align-center">
        {{ range . }}
            {{template "word" .}}
        {{ end }}
    </div>
{{ end }}


{{ block "word" .}}
<div class="p-6 relative flex flex-col justify-center align-center my-3 text-gray-700 bg-lime-300 shadow-md bg-clip-border rounded-xl w-fit">
    <h2 class="block font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900 text-center">
      {{ . }}
    </h2>
  </div>
{{ end }}