{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nom-Eng word alignment annotaion tool</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/tailwind.css">
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Tinos' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Cousine' rel='stylesheet'>
    <link rel="icon" href="image/favicon.svg">
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>

</head>
<body>

    {{ template "editor" }}

    {{ template "graph" .Values}}

    <div id="pagination" class="w-1/2 flex justify-center gap-1 align-center text-2xl mx-auto mt-4">
            {{ if not (le .Page 1)}}
            <button hx-get="/page/{{ minus .Page 1 }}" hx-swap="outerHTML transition:true" hx-target="body" 
            class="bg-green-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded"
              
            >
                Prev
            </button>
            {{end}}
            {{ if not (ge .Page .TotalPage)}}
            <button hx-get="/page/{{ add .Page 1 }}" hx-swap="outerHTML transition:true" hx-target="body" 
            class="bg-green-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded" 
            >
                Next
            </button>
            {{end}}
    </div>
    {{ template "save" }}

    {{ template "js" .Values.Align }}
</body>

</html>
{{ end }}

{{ define "editor" }}
    <section id="editor" class="flex gap-3 justify-center align-center mt-4 w-1/2 mx-auto">
        <div class="w-12 shadow-md" onclick="toolSelection(event)">
            <img id="draw"  src="image/pencil-svgrepo-com.svg" alt="Draw the graph" />
        </div>
        <div class="w-12 shadow-md" onclick="toolSelection(event)">
            <img id="erase" src="image/eraser.svg" alt="Erase the graph" class="w-full" />
        </div>
    </div> 
    </section>
{{ end }}

{{ block "graph" .}}
    <section id="graph" class="mt-2">
    {{ template "lang" .Nom }}
    <svg id="lines" height="150" width="100%" xmlns="http://www.w3.org/2000/svg" onmouseover="makeDraggable(evt)">
    </svg>
    {{ template "lang" .Eng }}
    </section>
{{ end }}

{{ block "lang" . }}
    <div id="{{ .Key }}" class="flex flex-row justify-around gap-1.5 align-center">
        {{ range $i, $el := .Data }}
        <div id="{{ $i }}" class="p-6 relative flex flex-col justify-center align-center text-gray-700 bg-lime-300 shadow-md bg-clip-border rounded-xl w-fit">
            <h2 class="block font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900 text-center">
              {{ $el }}
            </h2>
        </div>
        {{ end }}
    </div>
{{ end }}

{{ block "save" . }}
    <div id="save-zone" class="flex flex-col gap-1.5 justify-center align-center mt-4 w-1/3 mx-auto text-2xl"  >
        <div id="message" class="text-center {{if . }} text-green-500 {{ end }} "
        {{if not . }} hidden {{ end }}
        >{{ . }}</div>
        <button hx-put="/save" hx-on:htmx:config-request="save(event)" hx-swap="outerHTML transition:true" hx-target="#save-zone" 
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >
            Save
        </button>
    </div>
{{ end }}

{{ block "js" .}}
    <script>
        var align = {{ . }};
        var x1_min = 0;
        var x2_min = 0;
        var x1_max = 0;
        var x2_max = 0;
        var x1_coors = [];
        var x2_coors = [];
        function drawGraph() {
            var nom = document.getElementById("Nom");
            var eng = document.getElementById("Eng");
            var nomChildren = nom.children;
            var engChildren = eng.children;
            var svg = document.getElementById("lines");
            var svgHeight = svg.clientHeight;
            x1_coors = Array.from(nomChildren).map(ele => ele.offsetLeft + ele.clientWidth / 2);
            x2_coors = Array.from(engChildren).map(ele => ele.offsetLeft + ele.clientWidth / 2);
            for (let i = 0; i < align.length; i++) {
                var nomChild = nomChildren[align[i][0]];
                var engChild = engChildren[align[i][1]];
                var group = document.createElementNS("http://www.w3.org/2000/svg", "g");
                group.setAttribute("stroke", "black");
                group.setAttribute("stroke-width", "2");
                group.setAttribute("fill", "none");

                var c1 = document.createElementNS("http://www.w3.org/2000/svg", "circle");
                var x1 = nomChild.offsetLeft + nomChild.clientWidth / 2;
                var radius = 12;

                var y1 = radius;
                c1.setAttribute("cx", x1);
                c1.setAttribute("cy", y1);
                c1.setAttribute("r", radius);
                c1.setAttribute("fill", "black");
                c1.classList.add("cursor-move");
                c1.classList.add("draggable");
                c1.classList.add("nom");
                group.appendChild(c1);

                var c2 = document.createElementNS("http://www.w3.org/2000/svg", "circle");
                var x2 = engChild.offsetLeft + engChild.clientWidth / 2;
                var y2 = svgHeight - radius;
                c2.setAttribute("cx", x2);
                c2.setAttribute("cy", y2);
                c2.setAttribute("r", radius);
                c2.setAttribute("fill", "black");
                c2.classList.add("cursor-move");
                c2.classList.add("draggable");
                c2.classList.add("eng");
                group.appendChild(c2);

                let line = document.createElementNS("http://www.w3.org/2000/svg", "line");

                line.setAttribute("x1", x1);
                line.setAttribute("y1", y1);
                line.setAttribute("x2", x2);
                line.setAttribute("y2", y2);
                line.classList.add("line");
                group.appendChild(line);
                
                svg.appendChild(group);
            }
        }
        document.body.onload = drawGraph;
        htmx.on("htmx:afterSettle", function(){
            var lines = document.getElementById("lines").childNodes;
            if (lines.length <= 1) {
                drawGraph();
            }
        });
        
    function makeDraggable(evt) {
        var svg = evt.target;
        svg.addEventListener('mousedown', startDrag);
        svg.addEventListener('mousemove', drag);
        svg.addEventListener('mouseup', endDrag);
        svg.addEventListener('mouseleave', endDrag);

        var selectedElement = false;

        function startDrag(evt) {
            if (evt.target.classList.contains('draggable')) {
                selectedElement = evt.target;
            }
        }
        function drag(evt) {
            if (selectedElement) {
                evt.preventDefault();
                var dragX = evt.clientX;
                var parent = selectedElement.parentElement;
                var line = parent.getElementsByClassName("line")[0];
                var classTarget = selectedElement.classList.contains("nom") ? "nom" : "eng";
                var x_coors = classTarget === "nom" ? x1_coors : x2_coors;
                var x_string = classTarget === "nom" ? "x1" : "x2";
                dragX = findRangeX(dragX, x_coors);
                line.setAttributeNS(null, x_string, dragX);

                selectedElement.setAttributeNS(null, "cx", dragX);
            }
        }
        function endDrag(evt) {
            selectedElement = null;
        }
    }
    
    function findRangeX(x, x_coors) {
        if (x <= x_coors[0]) {
            console.log(x_coors[0]);
            return x_coors[0];
        } else if (x >= x_coors[x_coors.length - 1]) {
            console.log(x_coors[x_coors.length - 1]);
            return x_coors[x_coors.length - 1];
        } else {
            var cell = x_coors.findIndex(ele => ele >= x);
            var left = x_coors[cell - 1];
            var right = x_coors[cell];
            var mid = (right + left) / 2;
            var mid_step = (right - left) / 4;
            if (x <= left + mid_step) {
                console.log(left);
                return left;
            } else if ( mid_step + left < x && x <= mid + mid_step) {
                console.log(mid);
                return mid;
            } else {
                console.log(right);
                return right;
            }
        }
    }

    function toolSelection(evt) {
        target = evt.target;
        actived = target.classList.contains("actived");
        draw = document.getElementById("draw");
        erase = document.getElementById("erase");
        console.log(draw, erase, target, actived);
        
        function activateTarget(target) {
            target.classList.add("actived");
            target.classList.remove("shadow-md");
            target.classList.add("shadow-inner");
            target.classList.add("bg-green-500");
        }

        function deactivateTarget(target) {
            target.classList.remove("actived");
            target.classList.add("shadow-md");
            target.classList.remove("shadow-inner");
            target.classList.remove("bg-green-500");
        }

        if (target == draw) {
            otherActived = erase.classList.contains("actived");
            if (otherActived) {
                deactivateTarget(erase);
            }
        } else {
            otherActived = draw.classList.contains("actived");
            if (otherActived) {
                deactivateTarget(draw);
            }
        }
        
        if (actived) {
            activateTarget(target);
        } else {
            deactivateTarget(target);
        }
       
    }


    function findIndexX(x1, x2) {
        var x1_index = x1_coors.findIndex(ele => ele == x1);
        var x2_index = x2_coors.findIndex(ele => ele == x2);
        if (x1_index === -1) return -1;
        if (x2_index === -1) return -1;
        return [x1_index, x2_index];
    }

    function save(evt) {
        var lines = document.getElementsByClassName("line");
        var reAlign = [];
        var message = document.getElementById("message");
        for (let i = 0; i < lines.length; i++) {
            var line = lines[i];
            var x1 = line.getAttribute("x1");
            var x2 = line.getAttribute("x2");
            var index = findIndexX(x1, x2);
            if (index === -1) {
                alert("Please align all words");
                evt.preventDefault();
                message.innerText = "Please align all words";
                message.hidden = false;
                message.classList.add("text-red-500");
                message.classList.remove("text-green-500");
                message.classList.add("font-bold");
            }
            reAlign.push(index);
        }
        event.detail.parameters['align'] = JSON.stringify(reAlign);
    }
    </script>
{{ end }}

